
/* Hero */

.hero .eyebrow {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 4px;
}

.hero .headline {
    text-align: center;
    margin-bottom: 175px;
}

@media only screen and (max-width: 735px) {
    .hero .headline {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hardware-wrapper-large {
    margin: 0 auto;
    width: 414px;
}

@media only screen and (max-width: 735px) {
    .hardware-wrapper-large {
        width: 321px;
    }
}

.hero .hardware-wrapper-large {
    margin-bottom: 175px;
}

/* Features */

.features .content {
    margin-bottom: 175px;
}

.features .row {
    padding-top: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.row.subtasks {
    position: relative;
    padding-top: 0;
    margin-top: -138px;
}

@media only screen and (max-width: 735px) {
    .row.subtasks {
        padding-top: 82px;
        margin-top: inherit;
    }
}

.features .section-title {
    display: block;
    text-align: center;
    border-top-color: #E3E3E5;
    border-top-style: solid;
    border-top-width: 1px;
}

.hardware-wrapper {
    width: 321px;
}

.copy-wrapper {
    width: 374px;
}

.hardware-wrapper.left {
    margin-left: 80px;
}

.hardware-wrapper.right {
    margin-left: 82px;
}

.hardware-wrapper.second {
    margin-left: 178px;
}

.copy-wrapper.left {
    margin-left: 123px;
}

.copy-wrapper.right {
    margin-left: 82px;
}

.copy-wrapper.center {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1068px) {
    .hardware-wrapper.left {
        margin-left: 0;
    }

    .hardware-wrapper.second {
        margin-left: 50px;
    }

    .copy-wrapper.left {
        margin-left: 0;
    }
}

@media only screen and (max-width: 735px) {
    .features .row {
        flex-direction: column;
    }

    .hardware-wrapper {
        width: 244px;
        order: 1;
        padding-bottom: 50px;
    }

    .copy-wrapper {
        order: 2;
    }

    .hardware-wrapper.left, .hardware-wrapper.right, .hardware-wrapper.second,
    .copy-wrapper.left, .copy-wrapper.right {
        margin-left: auto;
        margin-right: auto;
    }
}

.hardware-wrapper .caption {
    width: 215px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* iCloud */

.features .row.icloud {
    padding-top: 82px;
}

.hardware-wrapper.icloud {
    margin-left: 80px;
    width: 1520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.hardware-wrapper.icloud .ipad-pro {
    margin-left: 82px;
}

@media only screen and (max-width: 1068px) {
    .hardware-wrapper.icloud {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 735px) {
    .hardware-wrapper.icloud {
        display: block;
        width: 244px;
        margin-left: auto;
        margin-right: auto;
    }

    .hardware-wrapper.icloud .ipad-pro {
        margin-top: 31px;
        margin-left: -200px;
    }
}

/* Devices */

.iphone-x {
    width: 321px;
    height: 640px;
    background-image: url("resources/iphone-x.png");
    background-size: 321px 640px;
}

.iphone-x-large {
    width: 414px;
    height: 826px;
    background-image: url("resources/iphone-x-large.png");
    background-size: 414px 826px;
}

.ipad-pro {
    width: 1117px;
    height: 776px;
    background-image: url("resources/ipad-pro.png");
    background-size: 1117px 776px;
}

@media only screen and (max-width: 1068px) {
    .iphone-x.collapse-early {
        width: 244px;
        height: 486px;
        background-size: 244px 486px;
    }

    .ipad-pro.collapse-early {
        width: 853px;
        height: 593px;
        background-size: 853px 593px;
    }
}

@media only screen and (max-width: 735px) {
    .iphone-x {
        width: 244px;
        height: 489px;
        background-size: 244px 489px;
    }

    .iphone-x-large {
        width: 321px;
        height: 640px;
        background-size: 321px 640px;
    }

    .ipad-pro {
        width: 853px;
        height: 593px;
        background-size: 853px 593px;
    }
}

/* Screenshots */

.screenshot {
    position: relative;
    background-color: #EFEFF4;
    background-repeat: no-repeat;
    z-index: -1;
}

.screenshot.white {
    background-color: white;
}

.iphone-x .screenshot {
    top: 18px;
    left: 20px;
    width: 279px;
    height: 603px;
    background-size: 278.36px 602.03px;
    background-position: 0.93px 0.16px;
}

.iphone-x-large .screenshot.large {
    top: 23px;
    left: 26px;
    width: 359px;
    height: 775px;
    background-size: 358.13px 774.18px;
    background-position: 0.93px 0.91px;
}

@media only screen and (max-width: 1068px) {
    .iphone-x .screenshot {
        top: 14px;
        left: 15px;
        width: 212px;
        height: 458px;
        background-size: 211.58px 457.17px;
        background-position: 0.91px 0.12px;
    }

    .iphone-x-large .screenshot.large {
        top: 18px;
        left: 20px;
        width: 279px;
        height: 603px;
        background-size: 278.36px 602.03px;
        background-position: 0.93px 0.16px;
    }
}

.screenshot#hero {
    background-image: url('resources/hero.png');
}

.screenshot#new-todo {
    background-image: url('resources/new-todo.jpg');
}

.screenshot#scheduled {
    background-image: url('resources/scheduled.jpg');
}

.screenshot#due {
    background-image: url('resources/due.jpg');
}

.screenshot#groups {
    background-image: url('resources/groups.jpg');
}

.screenshot#subtasks {
    background-image: url('resources/subtasks.jpg');
}

.screenshot#add-subtasks {
    background-image: url('resources/add-subtasks.jpg');
}

.screenshot#icloud {
    background-image: url('resources/icloud.jpg');
}

/* Specs */

.specs .section-title {
    text-align: center;
    margin-bottom: 49px;
}

.specs .row {
    padding-top: 61px;
    padding-bottom: 57px;
    border-top-color: #E3E3E5;
    border-top-style: solid;
    border-top-width: 1px;
}

.specs .rowheader {
    margin-top: -.11765em;
    width: 22%;
    float: left;
}

.specs .column {
    margin-left: 40px;
    width: 58.33333%;
    float: left;
}

@media only screen and (max-width: 735px) {
    .specs .row {
        border-top-style: none;
        border-top-width: 0;
        padding-bottom: 17px;
        padding-top: .4em;
    }

    .specs .rowheader {
        border-bottom-color: #E3E3E5;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        width: 100%;
        padding: .94118em 0;
        margin-bottom: 1.5em;
    }

    .specs .column {
        margin-left: 0;
        width: 100%;
    }
}

.specs .row::after {
    content: ' ';
    clear: both;
    display: table;
}

.specs li {
    margin-bottom: 26px;
    font-size: 17px;
    line-height: 25px;
    /* letter-spacing: -.022em; */
    list-style: none;
}

/* Contact */

#contact .content {
    text-align: center;
    padding: 50px 0;
    border-top-color: #E3E3E5;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #E3E3E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#contact .bubble {
    width: 21px;
    height: 19px;
    background-image: url('resources/contact.svg');
    background-size: 21px 19px;
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 5px;
}

/* Billboard */

.billboard .app-icon {
    width: 124px;
    height: 124px;
    background-image: url('resources/app-icon.png');
    background-size: 124px 124px;
    margin: 0px auto;
    margin-bottom: 29px;
}

.billboard .content {
    text-align: center;
    padding: 300px 0;
}

.billboard p {
    margin-top: 4px;
}

.billboard .buy {
    margin-top: 24px;
}

/* Footer */

footer {
    text-align: center;
    padding-bottom: 17px;
}